header{ 
    background-color: black;
    border-radius: 6px;
    nav{ 

        ul{
            list-style: none;
            li{ 

                a{
                    text-decoration: underline;
                    &:hover {
                        text-decoration: overline;
                    }

                }
            }
        }
    }

    @media screen and (max-width: 468px) {

    background-color: blue;
        
    }
}